<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Logo
    </ion-title>
    <ion-icon slot="end" style="zoom: 1.7; transform: rotate(90deg)" name="options"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid text-center padding>
    <ion-row>
      <ion-col>
        <div>
          <ion-text>Missions</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-text>Notes</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-text>Request</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>