<ion-split-pane side="start" menuId="first">
  <ion-menu contentId='content'>
    <ion-header no-border>
      <ion-toolbar text-center>
        <ion-icon style="zoom:7.0" name="square"></ion-icon>
      </ion-toolbar>
    </ion-header>


    <ion-content padding>
      <ion-grid>
        <ion-menu-toggle *ngFor="let p of pages">
          <ion-row>
            <ion-item lines="none" [routerLink]="p.url" routerDirection="root"
              [class.active-item]="selectedPath === p.url">
              <ion-icon class="ion-icon" style="zoom: 1.0" name="image"></ion-icon>
              <p style="margin-left: 1rem;">{{p.title}}</p>
            </ion-item>
          </ion-row>
        </ion-menu-toggle>
      </ion-grid>
    </ion-content>
    <ion-footer text-center>
      <a class="forgot" [routerLink]="['/signup']" routerDirection="root">
        <ion-icon class="ion-icon" style="zoom: 1.5" name="power"></ion-icon>
      </a>
    </ion-footer>
  </ion-menu>
</ion-split-pane>
<ion-router-outlet id="content" main></ion-router-outlet>