.sign_in {
    font-size: 4vh;
}

.email {
    width: 2rem;
}

ion-content {
    --ion-background-color: rgb(212, 222, 226) !important;
}

.item {
    margin: auto;
    margin-top: 1.4rem;
    width: 80%;
}

.email {
    font-size: small;
}

.password {
    font-size: small;
}

.anchor_wrapper {
    margin-left: 40%;
}

.forgot {
    text-decoration: none;
    font-size: small;
    color: var(--ion-color-medium-tint)
}

.button_wrapper {
    margin-top: 1rem;
}

ion-footer {
    background-color: rgb(212, 222, 226)
}

.footer_text {
    color: var(--ion-color-medium-tint);
    text-decoration: underline;
    font-size: small;
}

.signup_button {
    margin-right: 1rem;
}

.signin_button {
    margin-left: 1rem;
}

ion-list {
    margin-bottom: 0;
}