<ion-content padding center text-center>
  <div class="wrapper">
    <div padding center text-center>
      <ion-icon slot="center" style="zoom:3.0" name="square"></ion-icon>
    </div>
    <div class="sign_in">
      <ion-text>Sign In</ion-text>
    </div>
  </div>

  <div class="wrapper">
    <div>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail" style="zoom:1.5"></ion-icon>
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock" style="zoom:1.5"></ion-icon>
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </div>
    <div class="anchor_wrapper">
      <a class="forgot" [routerLink]="['/hello']">Forgot password?</a>
    </div>
    <div>
      <p>Sign In with</p>
      <ion-icon name="logo-facebook" style="zoom:2.0"></ion-icon>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <ion-button class="signup_button" shape="round" fill="outline" color="dark">Sign Up</ion-button>
    </div>
    <div class="column">
      <ion-button [routerLink]="['/menu/missions']" class="signin_button" shape="round" color="dark">Sign
        In</ion-button>
    </div>
  </div>
</ion-content>
<!-- <ion-footer text-center>
  <p class="footer_text">Terms and conditions</p>
</ion-footer> -->